@use "../../mixins/bem" as *;

@include b(home-underline) {
  @include e(text) {
    display: inline-block;
    position: relative;
  }
  
  @include e(svg) {
    position: absolute;
    top: 1em;
    left: 0.2em;
    z-index: -1;
    width: calc(100% - 0.7em);
    height: auto;
    color: var(--vp-c-brand);
  }
}
